<div class="col-md-10 col-md-offset-1 col-sm-12">
  <h4 class="text-center"><i class="fa fa-list-alt"></i> 我的订单 </h4>

  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>订单编号</th>
          <th>生成时间</th>
          <th>审核状态</th>
          <th>订单状态</th>
          <th>付款证明</th>
        </tr>
      </thead>
      <tbody>

        <% @orders.each do |order| %>
        <tr>
          <td> <%= link_to(order.order_no, order_path(order.token)) %> </td>
          <td> <%= order.created_at.to_s(:long) %> </td>
          <td> <%= render_order_confirmed_state(order) %> </td>
          <td> <%= render_order_payment_state(order) %> </td>
          <td>
            <% if order.certificates.present? %>
              <%= link_to("查看付款证明", order_certificates_path(order.token), class: "btn btn-default btn-sm") %>

            <% elsif order.is_confirmed? %>
              <%= link_to("上传付款证明", new_order_certificate_path(order.token), class: "btn btn-default btn-sm") %>
            <% else %>
              订单等待审核中
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="text-center">
    <%= will_paginate @orders, :previous_label => "上一页", :next_label => "下一页", renderer: BootstrapPagination::Rails %>
  </div>
</div>
