<h4 class="text-center"><i class="fa fa-list-alt"></i> 订单列表 </h4>


<div class="btn-group" role="group">
  <%= link_to("全部", admin_orders_path, class: "btn button-primary order-filter button-active") %>
  <%= link_to("待审核", admin_orders_path(:order => "checking"), :remote => true, class: "btn button-primary order-filter") %>
  <%= link_to("待付款", admin_orders_path(:order => "obligation"), :remote => true, class: "btn button-primary order-filter") %>
  <%= link_to("已付款", admin_orders_path(:order => "paid"), :remote => true, class: "btn button-primary order-filter") %>
</div>

<div class="order-list">
  <%= render "partial" %>
</div>


<script>

  $(".order-filter").on("click", function () {
    $('.order-filter').removeClass('button-active');
    $(this).addClass("button-active")

    var url = $(this).attr("href")
    $.get(url, function(response) {
      $('.order-list').html(response.data);
    })
  })

</script>
