<div class="row">
  <div class="col-md-12">
    <h4 class="text-center">
      <%= @order.order_no %>
      <% if @order.is_confirmed? %>
        <span class="label label-success"><%= render_order_paid_state(@order) %></span>
      <% else %>
        <span class="label label-warning"><%= render_order_confirmed_state(@order) %></span>
      <% end %>
    </h4>
    <% if @order.is_confirmed? %>
      <%= render "admin/orders/state_option", order: @order %>
    <% else %>
      <span style="padding-top:20px; float:right;">
        <%= link_to("审核通过", confirm_admin_order_path(@order), :method => :post, class: "btn btn-danger btn-sm") %>
      </span>
    <% end %>

    <br>
    <h4> 商品列表</h4>

    <div class="table-responsive">
      <table>
        <thead>
          <tr>
            <th>商品明细</th>
            <th>单价</th>
            <th>数量</th>
          </tr>
        </thead>
        <tbody>

          <% @product_lists.each do |product_list| %>
            <tr>
              <td>
                <%= product_list.product_name %>
              </td>
              <td>
                <%= product_list.product_price %>
                <button type="button" class="btn btn-default btn-xs update-product-list-price" data-toggle="modal" data-target="#update-price-modal-<%= product_list.id %>">更新价格</button>
                <div class="modal fade" id="update-price-modal-<%= product_list.id %>" role="dialog">
                  <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><%=  product_list.product_name %><span class="product-price-errors" style="font-size:12px;color:red;"></span></h4>
                      </div>
                      <div class="modal-body">
                        <label>价格</label>
                        <input type="number" value="<%= product_list.product_price %>" class="form-control" id="product_list_product_price-<%= product_list.id %>" name="product_list[product_price]">
                      </div>
                      <div class="modal-footer">
                        <%= link_to(" 更新价格", admin_product_list_path(product_list), method: :put, class: "btn btn-primary btn-xs update-product-price-button", id: "#{product_list.id}") %>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <%= product_list.quantity %>
              </td>
            </tr>
          <% end %>

        </tbody>
      </table>
    </div>

    <div class="total clearfix">
      <span class="pull-right">
        总计 <%#= @order.total %> <%= render_product_list_total_price(@product_lists) %> CNY
      </span>
    </div>

    <hr>

    <h4> 地址 </h4>
    <div class="table-responsive">
      <table>
       <tbody>
         <th>姓名</th>
         <th>电话</th>
         <th>地址</th>
         <th>邮政编码</th>
         <tr>
           <td>
             <%= @order.address.name %>
           </td>
           <td>
             <%= @order.address.mobile %>
           </td>
           <td>
             <%= ChinaCity.get(@order.address.province) %> -
             <%= ChinaCity.get(@order.address.city) %> -
             <%= ChinaCity.get(@order.address.district) %>-
             <%= @order.address.detail %>
           </td>
           <td>
             <%= @order.address.zip_code %>
           </td>
         </tr>
       </tbody>
      </table>
    </div>

    <hr>

    <h4>付款证明</h4>

    <% if @order.certificates.present? %>
      <%= render :partial => "certificates/certificate_item", :collection => @certificates, :as => :certificate %>
    <% else %>
      <p class="label label-warning">此用户还未上传付款证明</p>
    <% end %>
  </div>
</div>

<script>

  $('.update-product-price-button').click(function(e) {
    e.preventDefault()

    var productListId = $(this).attr("id")
    var productPrice = parseInt($("#product_list_product_price-" + productListId).val())
    var url = $(this).attr("href")

    if (productPrice === "" || productPrice < 0) {
      $(".product-price-errors").text(" 无效价格")
      return false;
    }

    // 送出 Ajax
    $.ajax({
      url: url,
      data: {  product_price:  productPrice },
      method: 'PUT',
      dataType: 'json'
    })
  })

</script>
