<div class="row">
  <div class="col-md-12">

    <h2> 商品列表 (<%= render_order_paid_state(@order) %>) </h2>

    <%= render "admin/orders/state_option", order: @order %>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th width="80%">商品明细</th>
          <th>单价</th>
          <th>数量</th>
        </tr>
      </thead>
      <tbody>

        <% @product_lists.each do |product_list| %>
          <tr>
            <td>
              <%= product_list.product_name %>
            </td>
            <td>
              <%= product_list.product_price %>
            </td>
            <td>
              <%= product_list.quantity %>
            </td>
          </tr>
        <% end %>

      </tbody>
    </table>

    <div class="total clearfix">
      <span class="pull-right">
       总计 <%= @order.total %> CNY
       </span>
     </div>

     <hr>

     <h2> 地址 </h2>

     <table class="table table-striped table-bordered">
      <tbody>
        <th>姓名</th>
        <th>电话</th>
        <th>地址</th>
        <th>邮政编码</th>
        <tr>
          <td>
            <%= @order.address.name %>
          </td>
          <td>
            <%= @order.address.mobile %>
          </td>
          <td>
            <%= ChinaCity.get(@order.address.province) %> -
            <%= ChinaCity.get(@order.address.city) %> -
            <%= ChinaCity.get(@order.address.district) %>-
            <%= @order.address.detail %>
          </td>
          <td>
            <%= @order.address.zip_code %>
          </td>
        </tr>
      </tbody>
    </table>

    <h4>付款证明</h4>

    <% if @order.certificates.present? %>
      <%= render :partial => "certificates/certificate_item", :collection => @certificates, :as => :certificate %>
    <% else %>
      <p class="label label-warning">此用户还未上传付款证明</p>
    <% end %>



  </div>
</div>
