<div class="pull-right">
  <button type="button" class="btn btn-info btn-xs new-address-btn" data-toggle="modal" data-target="#address_form_modal">
    新增收货地址
  </button>
</div>
<div class="clearfix"></div>
<br />
<ul class="list-group">
  <% if addresses.present? %>
    <% addresses.each do |address| %>
      <li class="list-group-item">
        <label>
          <input type="radio" name="address_id" value="<%= address.id %>" <%= "checked" if address.id == addresses.last.id %> >
          <%= address.name %>
          <%= address.mobile %>
          <%= ChinaCity.get(address.province) %> -
          <%= ChinaCity.get(address.city) %> -
          <%= ChinaCity.get(address.district) %>
          <%= address.detail %>
          <%= address.zip_code %>

          <%#= link_to "编辑", edit_address_path(address), remote: true, class: "inline edit-address-btn" %>
          <%#= link_to "删除", address_path(address), remote: true, method: 'delete', "data-confirm": "确认删除该地址吗？", class: "remove-address-btn inline" %>
        </label>
      </li>
    <% end %>
    <span class="pull-right address-update"><%#= link_to("确定", update_address_order_path(@order.token), class: "btn btn-default btn-sm submit-order-address") %></span>
  <% else %>
    <li class="list-group-item">
      请添加送货地址
    </li>
  <% end %>
</ul>
