<div class="row">
  <div class="col-md-12">
    <%= render "common/procedure" %>
    <div class="clearfix"></div>
    <br><br>
    <span class="pull-right"><%= link_to("个人订单", account_orders_path, class: "btn btn-sm btn-default") %></span>
    <br>

    <% if @order.is_confirmed? %>
      <% if @order.is_paid? %>
        <div class="checked-order">
          <i class="fa fa-check-circle" aria-hidden="true"></i> 此订单已完成付款
        </div>
      <% else %>
        <div class="checked-order">
          <i class="fa fa-check-circle" aria-hidden="true"></i> 订单审核已通过，请尽快完成付款
        </div>
      <% end %>
    <% else %>
      <div class="checking-order">
        <i class="fa fa-check-circle" aria-hidden="true"></i> 订单已提交审核中……
      </div>
    <% end %>

    <div class="order-no-information">
      <div class="col-md-4"><strong>订单ID：<%= @order.order_no %></strong></div>
      <div class="col-md-4"><strong>支付方式：人民币转账</strong></div>
      <div class="col-md-4"><strong>订单应付总金额：<%= @order.total %></strong></div>
    </div>

    <% if @order.is_confirmed? %>
      <h5><i class="fa fa-user" aria-hidden="true"></i> 银行账户</h5>
      <div class="bank-detail-information">
        <p>账户名称： 四川天天慧盈科技有限公司</p>
        <p>银行账户： xxxxxxxxxxxx</p>
        <p>银行名称： xxxxxxxx</p>

        <div class="tips">
          <p>1. 付款后，请登录官网用户中心，选择“我的订单”，点击订单后的“上传付款证明”，填写付款人姓名和付款金额等信息。</p>

          <p>2. 按照目前我国税务法规，订单的付款方（个人或公司）必须与合同购买方以及发票抬头一致；如果付款方、合同购买方、发票抬头不一致，或者一个订单内含有多个付款方（个人或公司）的情况，
                则无法提供该订单的合同与发票。<p>

          <p>3.如有疑问，可联系售前客服咨询。 </p>

          <p><b>风险提示</b></p>

          <p>特定虚拟商品价格决定矿机价值，付款后即锁定本批订单数量和价格，基于特定虚拟商品价格上涨，本订单不会加价，反之特定虚拟商品价格下跌，本订单也不会退款。</p>
        </div>
      </div>
    <% end %>

    <h5> 订单详情</h5>
    <div class="order-detail-information">
      <span class="pull-right"><%= @order.created_at.to_s(:long) %></span>
      <h6>订单ID：<%= @order.order_no %></h6>
      <hr>
      <h6>货物清单：</h6>
      <table>
        <tr>
          <td>图片</td>
          <td>名称</td>
          <td>单价</td>
          <td>数量</td>
        </tr>
        <% @product_lists.each do |product_list| %>
          <tr>
            <td>
              <% if product_list.image.present? %>
                <%= image_tag(product_list.image.thumb.url, class: "thumbnail", style: "max-width: 50px;") %>
              <% else %>
                <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail", style: "max-width: 50px;") %>
              <% end %>
            </td>
            <td><%= product_list.product_name %></td>
            <td><%= product_list.product_price %></td>
            <td><%= product_list.quantity %></td>
          </tr>
        <% end %>
      </table>
      <h6>地址：
        <% if @order.address.present? %>
          <span class="address">
            <%= @order.address.name %>
            <%= @order.address.mobile %>
            <%= ChinaCity.get(@order.address.province) %> -
            <%= ChinaCity.get(@order.address.city) %> -
            <%= ChinaCity.get(@order.address.district) %>-
            <%= @order.address.detail %>
            <%= @order.address.zip_code %>
            (<%= @order.delivery %> - <%= @order.payment_method %>)
          </span>
        <% end %>
      </h6>
      <h6>发票信息：</h6>
      <% if @order.invoice.present? %>
        <div class="invoice">
          <%= render "invoices/invoice_item", invoice: @order.invoice %>
        </div>
      <% end %>
    </div>

    <br>

    <div class="pull-left">
      <% if @order.certificates.present? %>
        <%= link_to("查看已上传付款证明 ", order_certificates_path(@order.token), style: "text-decoration: underline;") %>
      <% end %>
    </div>

    <div class="group pull-right">
      <% if @order.is_confirmed? %>
        <% if !@order.certificates.present? %>
          <%= link_to("上传付款证明", new_order_certificate_path(@order.token), class: "btn btn-sm btn-info") %>
        <% end %>
        <% if !@order.invoice.present? %>
          <%= link_to("填写发票信息", new_order_invoice_path(@order.token), class: "btn btn-sm btn-info") %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<script>

  // 步骤条
  $(".cart-information").addClass("step-done")
  $(".order-information").addClass("active")
  $(".order-information").addClass("step-done")
  $(".delivery-information").addClass("active")
  $(".delivery-information").addClass("step-done")
  $(".order-submit").addClass("active")
  $(".order-submit").addClass("step-done")
  $(".order-submit-success").addClass("active")

</script>
