<div class="row">
  <div class="col-md-12">
    <span class="pull-right"><%= link_to("返回我的订单", account_orders_path, class: "btn btn-default") %></span>
    <h4 class="text-center">订单编号：<%= @order.order_no %></h4>
    <div class="page-header">
      <h4><i class="fa fa-list-alt"></i> 商品列表</h4>
    </div>

    <% @product_lists.each do |product_list| %>
      <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
          <h4 class="media-heading"><%= product_list.product_name %></h4>
          <p>价格: <%= product_list.product_price %></p>
          <p>数量: <%= product_list.quantity %></p>
        </div>

      </div>
    <% end %>

    <div class="clearfix"></div>

    <div class="total">
      <span class="pull-right">
        <strong>总计: <%= @order.total %> CNY</strong>
      </span>
    </div>

    <div class="page-header">
      <h4><i class="fa fa-map-marker"></i> 收货地址</h4>
    </div>
    <div class="address">
      <%= @order.address.name %>
      <%= @order.address.mobile %>
      <%= ChinaCity.get(@order.address.province) %> -
      <%= ChinaCity.get(@order.address.city) %> -
      <%= ChinaCity.get(@order.address.district) %>-
      <%= @order.address.detail %>
      <%= @order.address.zip_code %>
    </div>

     <hr>

    <div class="pull-left">
      <% if @order.order_placed? || @order.paid? %>
        <%= link_to("申请取消订单", apply_to_cancel_order_path(@order), method: :post, class: "btn btn-info") %>
      <% end %>
    </div>

    <div class="group pull-right">
      <% if @order.is_confirmed? %>
        <% if !@order.is_paid? %>
          <%= link_to("上传付款证明", new_order_certificate_path(@order.token), class: "btn btn-info") %>
        <% else %>
          <p class="text-center">此订单已完成付款</p>
        <% end %>
      <% else %>
        <span class="label label-warning">订单已提交，等待审核中……</span>
      <% end %>


    </div>

    <div class="payment-desc">
      <h4 class="payment-label">付款方式</h4>
      <hr>
      <p>账户名称： 四川天天慧盈科技有限公司</p>
      <p>银行账户： xxxxxxxxxxxx</p>
      <p>银行名称： xxxxxxxx</p>

      <div class="tips">
        <p>1. 付款后，请登录官网用户中心，选择“我的订单”，点击订单后的“上传付款证明”，填写付款人姓名和付款金额等信息。</p>

        <p>2. 按照目前我国税务法规，订单的付款方（个人或公司）必须与合同购买方以及发票抬头一致；如果付款方、合同购买方、发票抬头不一致，或者一个订单内含有多个付款方（个人或公司）的情况，
              则无法提供该订单的合同与发票。<p>

        <p>3.如有疑问，可联系售前客服咨询。 </p>

        <p><b>风险提示</b></p>

        <p>特定虚拟商品价格决定矿机价值，付款后即锁定本批订单数量和价格，基于特定虚拟商品价格上涨，本订单不会加价，反之特定虚拟商品价格下跌，本订单也不会退款。</p>
      </div>
    </div>
  </div>
</div>
