<div class="row">
  <div class="col-md-12">

    <h2> 订单明细 </h2>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th width="80%">商品明细</th>
          <th>单价</th>
        </tr>
      </thead>
      <tbody>

        <% @product_lists.each do |product_list| %>
          <tr>
            <td>
              <%= product_list.product_name %>
            </td>
            <td>
              <%= product_list.product_price %>
            </td>
          </tr>
        <% end %>

      </tbody>
    </table>

    <div class="total clearfix">
      <span class="pull-right">
        总计 <%= @order.total %> CNY
      </span>
    </div>

     <hr>

     <h2> 寄送资讯 </h2>

     <table class="table table-striped table-bordered">
      <tbody>
        <tr>
          <td>
            订购人
          </td>
        </tr>
        <tr>
          <td>
            <%= @order.billing_name %> - <%= @order.billing_address %>
          </td>
        </tr>
        <tr>
          <td>
            收件人
          </td>
        </tr>
        <tr>
          <td>
            <%= @order.shipping_name %> - <%= @order.shipping_address %>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="pull-left">
      <% if @order.order_placed? || @order.paid? %>
        <%= link_to("申请取消订单", apply_to_cancel_order_path(@order), method: :post, class: "btn btn-info") %>
      <% end %>
    </div>

    <div class="group pull-right">
      <% if !@order.is_paid? %>
        <%= link_to("上传付款证明", new_order_certificate_path(@order.token), class: "btn btn-info") %>
      <% else %>
        <p class="text-center">此订单已完成付款</p>
      <% end %>

    </div>

    <div class="payment-desc">
      <h4 class="payment-label">付款方式</h4>
      <hr>
      <p>账户名称： 四川天天慧盈科技有限公司</p>
      <p>银行账户： xxxxxxxxxxxx</p>
      <p>银行名称： xxxxxxxx</p>

      <div class="tips">
        <p>1. 付款后，请登录官网用户中心，选择“我的订单”，点击订单后的“上传付款证明”，填写付款人姓名和付款金额等信息。</p>

        <p>2. 按照目前我国税务法规，订单的付款方（个人或公司）必须与合同购买方以及发票抬头一致；如果付款方、合同购买方、发票抬头不一致，或者一个订单内含有多个付款方（个人或公司）的情况，
              则无法提供该订单的合同与发票。<p>

        <p>3.如有疑问，可联系售前客服咨询。 </p>

        <p><b>风险提示</b></p>

        <p>特定虚拟商品价格决定矿机价值，付款后即锁定本批订单数量和价格，基于特定虚拟商品价格上涨，本订单不会加价，反之特定虚拟商品价格下跌，本订单也不会退款。</p>
      </div>
    </div>
  </div>
</div>
