<h4 class="text-center"><i class="fa fa-list-alt"></i> 日志列表 </h2>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>操作时间</th>
      <th>操作行为</th>
      <th>管理员</th>
    </tr>
  </thead>
  <tbody>
    <% @logs.each do |log| %>
      <tr>
        <td> <%= log.id %> </td>
        <td> <%= log.created_at.strftime("%F %T") %> </td>
        <td> <%= log.action %></td>
        <td> <%= log.user.email %></td>
      </tr>
    <% end %>

  </tbody>
</table>

<div class="text-center">
  <%= will_paginate @logs, :previous_label => "上一页", :next_label => "下一页", renderer: BootstrapPagination::Rails %>
</div>
