<div class="row checkout-page">
   <div class="col-md-12">
     <%= render "common/procedure" %>
     <div class="clearfix"></div>
    <div class="page-header">
      <h4><i class="fa fa-list-alt"></i> 商品列表</h4>
    </div>

    <% @cart_items.each do |cart_item| %>
      <div class="media checkout-list">
        <p id="<%= cart_item.id %>" style="display:none;"></p>
        <div class="media-left">
          <%= link_to product_path(cart_item.product) do %>
            <% if cart_item.product.image.present? %>
              <%= image_tag(cart_item.product.image.thumb.url, class: 'media-object') %>
            <% else %>
              <%= image_tag("http://placehold.it/200x200&text=No Pic", class: 'media-object') %>
            <% end %>
          <% end %>
          <p class="total-product-quantity" id="total-<%= cart_item.id %>" style="display: none;"><%= cart_item.product.quantity %></p>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><%= cart_item.product.title %></h4>
          <p><%= cart_item.product.description %></p>

          <span>数量:</span>
          <div class="quantity-action">
            <% cart_item = current_cart.cart_items.find_by(product_id: cart_item.product_id)%>

            <a class="button sub-btn" href="/cart_items/<%= cart_item.product_id %>/change_quantity" data-index-number="<%= cart_item.id %>">-</a>

            <input class="quantity-value" id="cart-item-quantity-<%= cart_item.id %>" type="text" value="<%= cart_item.quantity %>">
            <a class="button inc-btn" href="/cart_items/<%= cart_item.product_id %>/change_quantity" data-index-number="<%= cart_item.id %>">+</a>
          </div>
          <br>

          <p>价格: <span id="cart-item-product-price-<%= cart_item.id %>"><%= cart_item.product.price %><span></p>
        </div>
      </div>
    <% end %>

    <div class="total clearfix">
      <span class="pull-right">
        <strong>总计: ￥<span class="checkout-item-total-price"><%= render_cart_total_price(current_cart, @cart_items) %></span></strong>
      </span>
    </div>

    <!-- 协议条款 -->

    <div class="disclaimer-content-wrapper">
      <div class="disclaimer-content">
        <p>请仔细阅读以下风险提示：</p>
        <p>(1)您所购买的商品不属于生活消费品，不适用《中华人民共和国消费者权益保护法》、《网络购买商品七日无理由退货暂行办法》等规定。</p>
        <p>(2)您所购买的商品不同于生活消费类电子产品，而是根据客户需求特殊定制的产品。</p>
        <p>(3)无论是否发货，您付款后均不能退款、退货、换货</p>

        <p>注：上述风险提示不适用与R1、R3等产品。</p>

        <p>在您点击提交订单之前，请您认真阅读并遵守本网络各项条款及上述风险提示。您点击提交订单后，即视为您完全接受本网站各项条款及上述风险提示，
           能够独立承担法律责任</p>

        <p class="text-center">
          <button class="btn btn-info agree-btn">同意</button>
          <button class="btn btn-default disagree-btn">不同意</button>
        </p>
      </div>
    </div>

    <div class="pull-right"><input type="checkbox" id="disclaimer"> <b>协议条款</b></div>
    <br><br>

    <!-- 手机验证码提交 -->
    <div class="verification-content-wrapper">
      <div class="verification-content" style="padding: 30px;">
        <div class="hint">请按照以下步骤完成验证：</div>
        <div class="code">
          <input type="text" name="verification_code" class="verification-code form-control">

          <%= simple_form_for @verification, method: :post, :remote => true, html: {class: "create-verification-code"} do |f| %>
            <input type="hidden" name="verification[identity]" value="<%= current_user.email %>">
            <%= f.submit "获取邮箱验证码", class: "btn btn-info" %>
          <% end %>
        </div>

        <br></br>
        <div class="code-success-message"></div>

        <input type="submit" value="提交" class="btn btn-primary code-submit" style="width:100%;">

      </div>
    </div>

    <div class="order-form clearfix">
      <%= simple_form_for @order, method: :post, html: { class: "create-order-form" } do |f| %>
        <div class="checkout">
          <input type="hidden" class="cart-item-ids" name="cart_item_ids">
          <%= f.input :address_id, :as => :hidden, :input_html => { :id => 'input_address_id' } %>
          <%= f.submit "提交订单", class: "button-base button-secondary pull-right create-order-button",
                       data: { disable_with: "提交中..." } %>
        </div>
      <% end %>

    </div>
  </div>
</div>

<script>
  (function () {
    $(document).on("turbolinks:load", function () {
      $('.city-group').china_city()
    })

    // 步骤条
    $(".cart-information").addClass("step-done")
    $(".order-information").addClass("active")

    // 协议条款未选择，提交订单按钮disabled
    if ($('#disclaimer').is(':checked') === false) {
      $(".create-order-button").prop("disabled", true)
    }

    // 收货地址
    $(document).on('click', '.new-address-btn', function() {
      $('#address_form_modal').modal();
    })

    // 监听协议条款复选框变化
    $("#disclaimer").on("change", function () {
      if(this.checked) {
        $(".disclaimer-content-wrapper").css("display", "block");
        $(".disclaimer-content-wrapper").css("z-index", "3000");
      } else {
        $(".create-order-button").prop("disabled", true)
      }
    })

    // 同意协议条款
    $(".agree-btn").on("click", function() {
      $(".disclaimer-content-wrapper").css("display", "none");
      $(".disclaimer-content-wrapper").css("z-index", "-10");
      $(".create-order-button").prop("disabled", false)
    })

    // 不同意协议条款
    $(".disagree-btn").on("click", function() {
      $(".disclaimer-content-wrapper").css("display", "none");
      $(".disclaimer-content-wrapper").css("z-index", "-10");
      $("#disclaimer").prop("checked", false)
      $(".create-order-button").prop("disabled", true)
    })

    // 验证码审核

    function verificationCodeValid() {
      var result = false;
      var emailAddress = "<%= current_user.email %>";

      $(".verification-content-wrapper").css("display", "block");
      $(".verification-content-wrapper").css("z-index", "3000");

      $(document).bind("ajax:success", ".create-order-form", function (evt, data, status, xhr) {
        evt.preventDefault()

        if (data.success === true) {
          $(".code-success-message").text("验证码已发送至" + emailAddress)
        }
      })

      $(".code-submit").on("click", function(e) {
        e.preventDefault()

        var textCode = $(".verification-code").val()
        data = "identity=" + emailAddress + "&code=" + textCode

        $.ajax({
          url: "/verifications/verify",
          data: data,
          method: 'POST',
          dataType: 'json', // 要求服务器回传 json
          success: function (response) {
            if (response.success === true) {
              $(".verification-content-wrapper").css("display", "none");
              $(".verification-content-wrapper").css("z-index", "-10");

              result = true
              $(".create-order-form").submit()
            } else {
              $(".code-success-message").text("验证码错误")
            }
          }
        })
      })
      return result
    }


    //生成订单
    var addressID,
    cartItemIds = "<%= params[:cart_item_ids] %>"
    $(".cart-item-ids").val(cartItemIds.split(","))

    $("input[name='address_id']").on("change", function(){
      addressID = $('input[name="address_id"]:checked').val();
      if (addressID) {
        $("#input_address_id").val(addressID);
      }
    });

    $('.create-order-button').click(function(e) {
      e.preventDefault()

      if (!verificationCodeValid()) {
        return false
      }
    })

  })()
</script>
