<div class="row checkout-page">
   <div class="col-md-12">

    <div class="page-header">
      <h4><i class="fa fa-list-alt"></i> 商品列表</h4>
    </div>

    <% current_cart.cart_items.each do |cart_item| %>
      <div class="media">
        <div class="media-left">
          <%= link_to product_path(cart_item.product) do %>
            <% if cart_item.product.image.present? %>
              <%= image_tag(cart_item.product.image.thumb.url, class: 'media-object') %>
            <% else %>
              <%= image_tag("http://placehold.it/200x200&text=No Pic", class: 'media-object') %>
            <% end %>
          <% end %>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><%= cart_item.product.title %></h4>
          <p><%= cart_item.product.description %></p>
          <p>数量: <%= cart_item.quantity %></p>
          <p>价格: <%= cart_item.product.price %></p>
        </div>
      </div>
    <% end %>

    <div class="total clearfix">
      <span class="pull-right">
        <strong>总计: ￥<%= render_cart_total_price(current_cart) %></strong>
      </span>
    </div>

    <div class="page-header">
      <h4><i class="fa fa-map-marker"></i> 收货地址</h4>
    </div>

    <div id="address_list">
      <%= render "address", addresses: @addresses %>
      <%#= render "new_address" %>
    </div>
    <%= render "new_address" %>

    <div class="order-form">
      <%= simple_form_for @order, method: :post, class: "create-order-form" do |f| %>
        <div class="checkout">
          <%= f.input :address_id, :as => :hidden, :input_html => { :id => 'input_address_id' } %>
          <%= f.submit "提交订单", class: "button-base button-secondary pull-right",
                       data: { disable_with: "Submitting..." } %>
        </div>
      <% end %>

    </div>
  </div>
</div>

<script>
  (function () {
    $(document).on("turbolinks:load", function () {
      $('.city-group').china_city()
    })

    // 收货地址
    $(document).on('click', '.new-address-btn', function() {
      $('#address_form_modal').modal();
    })

    $(document).bind("ajax:success", ".address-form", function (evt, data, status, xhr) {
      if (data.success === true) {
        $('#address_form_modal').modal("hide");
        window.location.reload()
      }
    })


    //生成订单
    var addressID;

    $("input[name='address_id']").on("change", function(){
      addressID = $('input[name="address_id"]:checked').val();
      if (addressID) {
        $("#input_address_id").val(addressID);
      } else {
        alert("请添加收货地址")
      }
    });

    $('.create-order-form').submit(function() {
      if (addressID === undefined) {
        alert("请选择收货地址!");
        return false;
      }
    })

  })()
</script>
