<div class="row checkout-page">
   <div class="col-md-12">

    <div class="page-header">
      <h4><i class="fa fa-list-alt"></i> 商品列表</h4>
    </div>

    <% @cart_items.each do |cart_item| %>
      <div class="media checkout-list">
        <p id="<%= cart_item.id %>" style="display:none;"></p>
        <div class="media-left">
          <%= link_to product_path(cart_item.product) do %>
            <% if cart_item.product.image.present? %>
              <%= image_tag(cart_item.product.image.thumb.url, class: 'media-object') %>
            <% else %>
              <%= image_tag("http://placehold.it/200x200&text=No Pic", class: 'media-object') %>
            <% end %>
          <% end %>
          <p class="total-product-quantity" id="total-<%= cart_item.id %>" style="display: none;"><%= cart_item.product.quantity %></p>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><%= cart_item.product.title %></h4>
          <p><%= cart_item.product.description %></p>

          <span>数量:</span>
          <div class="quantity-action">
            <% cart_item = current_cart.cart_items.find_by(product_id: cart_item.product_id)%>

            <a class="button sub-btn" href="/cart_items/<%= cart_item.product_id %>/change_quantity" data-index-number="<%= cart_item.id %>">-</a>

            <input class="quantity-value" id="cart-item-quantity-<%= cart_item.id %>" type="text" value="<%= cart_item.quantity %>">
            <a class="button inc-btn" href="/cart_items/<%= cart_item.product_id %>/change_quantity" data-index-number="<%= cart_item.id %>">+</a>
          </div>
          <br>

          <p>价格: <span id="cart-item-product-price-<%= cart_item.id %>"><%= cart_item.product.price %><span></p>
        </div>
      </div>
    <% end %>

    <div class="total clearfix">
      <span class="pull-right">
        <strong>总计: ￥<span class="checkout-item-total-price"><%= render_cart_total_price(current_cart, @cart_items) %></span></strong>
      </span>
    </div>

    <div class="page-header">
      <h4><i class="fa fa-map-marker"></i> 收货地址</h4>
    </div>

    <div id="address_list">
      <%= render "address", addresses: @addresses %>
    </div>
    <%= render "new_address" %>

    <div class="order-form">
      <%= simple_form_for @order, method: :post, class: "create-order-form" do |f| %>
        <div class="checkout">
          <input type="hidden" class="cart-item-ids" name="cart_item_ids">
          <%= f.input :address_id, :as => :hidden, :input_html => { :id => 'input_address_id' } %>
          <%= f.submit "提交订单", class: "button-base button-secondary pull-right create-order-button",
                       data: { disable_with: "Submitting..." } %>
        </div>
      <% end %>

    </div>
  </div>
</div>

<script>
  (function () {
    $(document).on("turbolinks:load", function () {
      $('.city-group').china_city()
    })

    // 收货地址
    $(document).on('click', '.new-address-btn', function() {
      $('#address_form_modal').modal();
    })

    $(document).bind("ajax:success", ".address-form", function (evt, data, status, xhr) {
      if (data.success === true) {
        $('#address_form_modal').modal("hide");
        window.location.reload()
      }
    })


    //生成订单
    var addressID,
    cartItemIds = "<%= params[:cart_item_ids] %>"
    $(".cart-item-ids").val(cartItemIds.split(","))

    $("input[name='address_id']").on("change", function(){
      addressID = $('input[name="address_id"]:checked').val();
      if (addressID) {
        $("#input_address_id").val(addressID);
      }
    });

    $('.create-order-button').click(function() {
      if (addressID === undefined) {
        $(".modal-content").text("请选择收货地址")
        $('#message').modal()
        $('#message').modal('show')
        return false;
      }
    })

  })()
</script>
