<div class="col-md-8 col-md-offset-2 col-sm-12">
  <%= simple_form_for @address do |f| %>
    <div class="group">
      <%= f.input :name, label: "收货人姓名" %>
    </div>

    <div class="group">
      <%= f.input :mobile, label: "手机号码" %>
    </div>

    <div class="city-group">
      <label>省、市、区</label><br>
      <%= f.select :province,  ChinaCity.list.unshift(["--省份--", 420000]), {}, class: "city-select "%>
      <%= f.select :city,      ChinaCity.list(f.object.province).presence || [["--城市--", 422800]],    {}, class: "city-select " %>
      <%= f.select :district,  ChinaCity.list(f.object.city).presence     || [["--地区--", 422827]],    {}, class: "city-select " %>
    </div>

    <div class="group">
      <%= f.input :zip_code, label: "邮政编码" %>
    </div>

    <div class="group">
      <%= f.input :detail, label: "详细地址" %>
    </div>

    <%= f.submit "提交", data: { disable_with: "提交中..." }, class: "btn btn-primary" %>
  <% end %>
</div>

<script>
  $(document).on("turbolinks:load", function () {
    $('.city-group').china_city()
  })
</script>
