<div class="certificate-list">
  <div class="certificate-info">
    <span class="pull-right">
      <%= link_to("编辑", edit_order_certificate_path(@order.token, certificate), class: "btn btn-default btn-sm") %> |
      <%= link_to("删除", order_certificate_path(@order.token, certificate), method: :delete, class: "btn btn-default btn-sm") %>
    </span>
    <p><b>付款人：</b><%= certificate.name %></p>
    <p><b>付款金额：</b><%= certificate.amount %></p>
    <p><b>上传时间：</b><%= certificate.created_at.to_s(:long) %></p>

  </div>
  <div class="row">
    <% certificate.photos.each do |photo| %>
      <div class="col-md-3 image"><%= image_tag(photo.image.thumb.url, class: "thumbnail") %></div>
    <% end %>
  </div>
</div>
