<div class="col-md-8 col-md-offset-2 col-sm-12">
  <%= simple_form_for @certificate, :url => order_certificates_path(@order.token), :method => :post do |f| %>
    <div class="group">
      <%= f.input :name, label: "付款人姓名" %>
    </div>

    <div class="group">
      <%= f.input :amount, label: "付款金额" %>
    </div>

    <!-- <div class="group">
      <%#= f.input :image, as: :file %>
    </div> -->

    <div class="group">
      <%= f.file_field :image, :multiple => true, name: "photos[image][]" %>（"按Ctrl可以选择多张图片"）
    </div>

    <%= f.submit "提交", data: { disable_with: "提交中..." }, class: "btn btn-primary" %>
  <% end %>
</div>
