<div class="banner">
  <img src="/assets/banner-2.jpg" alt="轮播图-1" class="banner-image-1">
</div>

<% if @orders.present? %>
  <div class="unpayment-order">
    <p class="text-center order-title"><strong>待付款订单</strong></p>
    <ul class="list-group">
      <% @orders.each do |order| %>
        <li class="list-group-item" style="overflow: auto;">
          <div class="col-md-3 text-center"><b>NO </b> <%= order.order_no %></div>
          <div class="col-md-3 text-center"><b>商品 </b> <%= order.product_lists.pluck(:product_name).join(",") %></div>
          <div class="col-md-3 text-center"><b>总计</b> <%= render_product_list_total_price(order.product_lists) %> CNY</div>
          <div class="col-md-3 text-center"><%= link_to("去付款", order_path(order.token), class: "instant-pay") %></div>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>


<div class="products-list">
  <% @products.each do |product| %>
    <div class="col-md-3 col-xs-12 product">
      <%= link_to product_path(product) do %>
        <% if product.image.present? %>
          <div class="product-image">
            <%= image_tag(product.image.thumb.url) %>
          </div>
        <% else %>
          <div class="product-image">
            <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
          </div>
        <% end %>
      <% end %>
      <div class="product-info">
        <p class="product-title"><%= product.title %></p>
        <p class="product-desc"><%=h truncate(product.description, :length => 60) %></p>
        <span class="product-price pull-left"><%= product.price %></span>
        <span class="shopping-cart pull-right">
          <% if product.is_maintainable %>
            <span style="color: #f0ad4e;">价格维护中</span>
          <% else %>
            <a href="/products/<%= product.id %>/add_to_cart" class="index-add-to-cart-btn"><i class="fa fa-shopping-cart"></i></a>
          <% end %>
        </span>
      </div>
    </div>
  <% end %>
</div>

<script>
  $(".index-add-to-cart-btn").each(function () {
    $(this).click(function(e){
      e.preventDefault();
      var url = $(this).attr("href");

      // 加入购物车
      $.ajax({
        url: url,
        data: { quantity: 1 },
        method: 'POST',
        dataType: 'json', // 要求服务器回传 json
        success: function (response) {
          if (response.success === true) {
            $('#message').modal()
            var cartItemNumber = parseInt($(".cart-item-number").text()) + 1
            $(".cart-item-number").text(cartItemNumber)
            $('#message').modal('show')
          }
        }
      })
    })
  })
</script>
