<div class="banner">
  <img src="/assets/banner-2.jpg" alt="轮播图-1" class="banner-image-1">
</div>

<div class="products-list">
  <% @products.each do |product| %>
    <div class="col-md-3 col-xs-6 product">
      <%= link_to product_path(product) do %>
        <% if product.image.present? %>
          <div class="product-image">
            <%= image_tag(product.image.thumb.url) %>
          </div>
        <% else %>
          <div class="product-image">
            <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
          </div>
        <% end %>
      <% end %>
      <div class="product-info">
        <p class="product-title"><%= product.title %></p>
        <p class="product-desc"><%= product.description %></p>
        <span class="product-price pull-left"><%= product.price %></span>
        <span class="shopping-cart pull-right">
          <%= link_to add_to_cart_product_path(product), :method => :post do %>
            <i class="fa fa-shopping-cart"></i>
          <% end %>
        </span>
      </div>
    </div>
  <% end %>
</div>
