<div class="banner">
  <img src="/assets/banner-2.jpg" alt="轮播图-1" class="banner-image-1">
</div>

<div class="products-list">
  <% @products.each do |product| %>
    <div class="col-md-3 col-xs-12 product">
      <%= link_to product_path(product) do %>
        <% if product.image.present? %>
          <div class="product-image">
            <%= image_tag(product.image.thumb.url) %>
          </div>
        <% else %>
          <div class="product-image">
            <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
          </div>
        <% end %>
      <% end %>
      <div class="product-info">
        <p class="product-title"><%= product.title %></p>
        <p class="product-desc"><%=h truncate(product.description, :length => 60) %></p>
        <span class="product-price pull-left"><%= product.price %></span>
        <span class="shopping-cart pull-right">
          <% if product.is_maintainable %>
            <span style="color: #f0ad4e;">价格维护中</span>
          <% else %>
            <a href="/products/<%= product.id %>/add_to_cart" class="index-add-to-cart-btn"><i class="fa fa-shopping-cart"></i></a>
          <% end %>
        </span>
      </div>
    </div>
  <% end %>
</div>

<script>
  $(".index-add-to-cart-btn").each(function () {
    $(this).click(function(e){
      e.preventDefault();
      var url = $(this).attr("href");

      // 加入购物车
      $.ajax({
        url: url,
        data: { quantity: 1 },
        method: 'POST',
        dataType: 'json', // 要求服务器回传 json
        success: function (response) {
          if (response.success === true) {
            $('#message').modal()
            $('#message').modal('show')
          }
        }
      })
    })
  })
</script>
