<div class="product-page">
  <div class="result pull-right"></div>
  <div class="col-md-6">
    <% if @product.image.present? %>
      <%= image_tag(@product.image.medium.url, class: "thumbnail") %>
    <% else %>
      <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
    <% end %>
  </div>
  <div class="col-md-6">
    <h2> <%= @product.title %> </h2>
    <div class="description">
      <p>
        <%= @product.description %>
      </p>
    </div>

    <div class="product-price"> ￥ <%= @product.price %> </div>

    <div class="quantity">
      <span class="qua-label">数量 :</span>
      <div class="quantity-action">
        <% quantity = 1 %>
        <button class="button" id="sub-btn">-</button>
        <input class="quantity-value" id="quantity-val" type="text" value="<%= quantity %>">
        <button class="button" id="inc-btn">+</button>
      </div>
    </div>

    <div class="buy-action">
      <% if @product.quantity.present? && @product.quantity > 0 %>
        <%= link_to("加入购物车", add_to_cart_product_path(@product), :class => "btn button-primary", id: "add-to-cart-btn") %>
        <%= link_to("现在购买", add_to_cart_product_path(@product), :method => :post, :class => "btn button-secondary", id: "instance-buy-btn") %>
      <% else %>
        已销售一空，无法购买
      <% end %>
    </div>
  </div>
</div>

<script>
  var totalQuantity = <%= @product.quantity %>
  var quantityObj = $("#quantity-val")
  var quantityObjValue = quantityObj.val()

  $("#sub-btn").on("click", function () {
    if (quantityObjValue > 1) {
      quantityObjValue = parseInt(quantityObjValue) - 1
      $("#quantity-val").val(quantityObjValue)
    }
  })

  $("#inc-btn").on("click", function () {
    if (quantityObjValue < totalQuantity) {
      quantityObjValue = parseInt(quantityObjValue) + 1
      $("#quantity-val").val(quantityObjValue)
    }
  })

  $("#add-to-cart-btn").click(function(evt){
    evt.preventDefault();
    var url = $(this).attr("href");

    // 加入购物车
    $.ajax({
      url: url,
      data: { quantity: quantityObj.val() },
      method: 'POST',
      dataType: 'json', // 要求服务器回传 json
      success: function (response) {
        if (response.success === true) {
          $(".result").html("成功加入购物车")
        }
      }
    })
  })

  // 现在购买
  $("#instance-buy-btn").click(function(evt){
    evt.preventDefault();
    var url = $(this).attr("href");

    // 送出 Ajax
    $.ajax({
      url: url,
      data: { quantity: quantityObj.val() },
      method: 'POST',
      dataType: 'json', // 要求服务器回传 json
      success: function (response) {
        if (response.success === true) {
          $(location).attr('href', '/carts')
        }
      }
    })
  })
</script>
