<div class="product-page">
  <div class="result pull-right"></div>
  <div class="col-md-6">
    <% if @product.image.present? %>
      <%= image_tag(@product.image.medium.url, class: "thumbnail") %>
    <% else %>
      <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
    <% end %>
  </div>
  <div class="col-md-6">
    <h2> <%= @product.title %> </h2>
    <div class="description">
      <p>
        <%= @product.description %>
      </p>
    </div>

    <div class="product-price"> ￥ <%= @product.price %> </div>

    <div class="quantity">
      <span class="qua-label">数量 :</span>
      <div class="quantity-action">
        <% quantity = 1 %>
        <button class="button" id="sub-btn">-</button>
        <input class="quantity-value" id="quantity-val" type="text" value="<%= quantity %>">
        <button class="button" id="inc-btn">+</button>
      </div>
    </div>

    <div class="buy-action">
      <% if @product.quantity.present? && @product.quantity > 0 %>
        <%= link_to("加入购物车", add_to_cart_product_path(@product), :class => "button-base button-primary", id: "add-to-cart-btn") %>
        <%= link_to("现在购买", add_to_cart_product_path(@product), :method => :post, :class => "button-base button-secondary", id: "instance-buy-btn") %>
      <% else %>
        已销售一空，无法购买
      <% end %>
    </div>
  </div>

  <div class="payment-desc">
    <h4 class="payment-label">付款方式</h4>
    <hr>
    <p>账户名称： 四川天天慧盈科技有限公司</p>
    <p>银行账户： xxxxxxxxxxxx</p>
    <p>银行名称： xxxxxxxx</p>

    <div class="tips">
      <p>1. 付款后，请登录官网用户中心，选择“我的订单”，点击订单后的“上传付款证明”，填写付款人姓名和付款金额等信息。</p>

      <p>2. 按照目前我国税务法规，订单的付款方（个人或公司）必须与合同购买方以及发票抬头一致；如果付款方、合同购买方、发票抬头不一致，或者一个订单内含有多个付款方（个人或公司）的情况，
            则无法提供该订单的合同与发票。<p>

      <p>3.如有疑问，可联系售前客服咨询。 </p>

      <p><b>风险提示</b></p>

      <p>特定虚拟商品价格决定矿机价值，付款后即锁定本批订单数量和价格，基于特定虚拟商品价格上涨，本订单不会加价，反之特定虚拟商品价格下跌，本订单也不会退款。</p>
    </div>
  </div>
</div>

<script>
  var totalQuantity = <%= @product.quantity %>
  var quantityObj = $("#quantity-val")
  var quantityObjValue = quantityObj.val()

  $("#sub-btn").on("click", function () {
    if (quantityObjValue > 1) {
      quantityObjValue = parseInt(quantityObjValue) - 1
      $("#quantity-val").val(quantityObjValue)
    }
  })

  $("#inc-btn").on("click", function () {
    if (quantityObjValue < totalQuantity) {
      quantityObjValue = parseInt(quantityObjValue) + 1
      $("#quantity-val").val(quantityObjValue)
    }
  })

  $("#add-to-cart-btn").click(function(evt){
    evt.preventDefault();
    var url = $(this).attr("href");

    // 加入购物车
    $.ajax({
      url: url,
      data: { quantity: quantityObj.val() },
      method: 'POST',
      dataType: 'json', // 要求服务器回传 json
      success: function (response) {
        if (response.success === true) {
          $(".result").html("成功加入购物车")
        }
      }
    })
  })

  // 现在购买
  $("#instance-buy-btn").click(function(evt){
    evt.preventDefault();
    var url = $(this).attr("href");

    // 送出 Ajax
    $.ajax({
      url: url,
      data: { quantity: quantityObj.val() },
      method: 'POST',
      dataType: 'json', // 要求服务器回传 json
      success: function (response) {
        if (response.success === true) {
          $(location).attr('href', '/carts')
        }
      }
    })
  })
</script>
