<!DOCTYPE html>
<html>
  <head>
    <title>天天矿业</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <%= render "common/navbar" %>
        <%= render "common/flashes" %>
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
          <%= yield %>
        </div>


        <%= render "common/footer" %>
      </div>

    </div>
    <script type='text/javascript'>
      (function(m, ei, q, i, a, j, s) {
          m[i] = m[i] || function() {
              (m[i].a = m[i].a || []).push(arguments)
          };
          j = ei.createElement(q),
              s = ei.getElementsByTagName(q)[0];
          j.async = true;
          j.charset = 'UTF-8';
          j.src = 'https://static.meiqia.com/dist/meiqia.js?_=t';
          s.parentNode.insertBefore(j, s);
      })(window, document, 'script', '_MEIQIA');
      _MEIQIA('entId', 129174);
    </script>

    <script>
      // 你可以自己的代码中选择合适的时机来调用手动初始化
      _MEIQIA('init');
    </script>
  </body>
</html>
